<%= form_with(model: board, class: 'contents', target: '_top', data: {controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper'}) do |form| %>
  <template data-nested-form-target="template">
    <%= form.fields_for :columns, Column.new, child_index: 'NEW_RECORD' do |column_fields| %>
      <%= render partial: '/board_form/column', locals: {f: column_fields} %>
    <% end %>
  </template>

  <div class="flex-1">
    <div class="space-y-6 py-6 px-6">
      <div>
        <%= form.label :name, class: 'block text-sm font-medium text-gray-700' %>
        <div class="mt-1 relative rounded-md shadow-sm">
          <%= form.text_field :name, class: form.object.errors.include?(:name) ? 'block w-full pr-10 border-red-300 text-red-900 placeholder-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm rounded-md' : 'block w-full border-gray-300 focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm rounded-md', aria: form.object.errors.include?(:name) ? {invalid: true, describedby: 'name_errors'} : {} %>
          <% if form.object.errors.include?(:name) %>
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
              <%= inline_svg_tag 'exclamation.svg', class: 'h-5 w-5 text-red-500' %>
            </div>
          <% end %>
        </div>
        <% if form.object.errors.include?(:name) %>
          <p class="mt-2 text-sm text-red-600" id="name_errors"><%= form.object.errors.full_messages_for(:name).first %></p>
        <% end %>
      </div>

      <div>
        <div class="flow-root mt-6">
          <p class="block text-sm font-medium text-gray-700">Columns</p>
          <ul role="list">
            <%= form.fields_for :columns do |column_fields| %>
              <%= render partial: '/board_form/column', locals: {f: column_fields} %>
            <% end %>
            <div data-nested-form-target="target"></div>
          </ul>
          <% if form.object.errors.include?(:columns) %>
            <p class="mt-2 text-sm text-red-600"><%= form.object.errors.full_messages_for(:columns).first %></p>
          <% end %>
          <div class="mt-4">
            <%= button_tag type: 'button', class: 'bg-white inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500', data: {action: 'nested-form#add'} do %>
              <!-- Heroicon name: solid/plus -->
              <svg class="-ml-2 mr-1 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
              </svg>
              <span>Add Column</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-shrink-0 border-t border-gray-200 px-4 py-5 sm:px-6">
    <div class="flex justify-end space-x-3">
      <button type="button" data-action="reveal#hide" class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2">Cancel</button>
      <%= form.submit class: 'inline-flex justify-center rounded-md border border-transparent bg-orange-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2' %>
    </div>
  </div>
<% end %>
