<%= turbo_frame_tag dom_id(board, :header) do %>
  <div class="pb-5 border-b border-gray-200 px-4 sm:px-0 sm:flex sm:items-center sm:justify-between">
    <div class="flex items-center justify-between sm:block">
      <h2 class="text-3xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
        <%= board.name %>
      </h2>
      <div class="flex overflow-hidden -space-x-1 sm:mt-2">
        <%= render(BoardUsers::Component.new(board: board)) %>
      </div>
    </div>
    <div class="mt-4 flex justify-between space-x-2 sm:mt-0 sm:ml-4 sm:space-x-4">
      <div class="flex space-x-2 sm:space-x-4">
        <div class="sm:ml-4">
          <%= link_to [:edit, board], class: 'inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500', data: {turbo_frame: 'slideover'} do %>
            <%= inline_svg_tag 'board_header/pencil.svg', class: 'h-5 w-5 mr-2 text-gray-400' %>
            Edit<span class="sr-only"> Board</span>
          <% end %>
        </div>
        <div data-controller="clipboard" data-clipboard-success-content="Copied!">
          <%= url_field_tag nil, board_share_url(board, board.share_token), class: 'hidden', readonly: true, autocomplete: 'off', data: {clipboard_target: 'source'} %>
          <%= button_tag type: 'button', class: 'inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500', data: {action: 'clipboard#copy'} do %>
            <%= inline_svg_tag 'board_header/link.svg', class: 'h-5 w-5 mr-2 text-gray-400' %>
            <span class="sr-only">Copy </span><span data-clipboard-target="button">Invite</span><span class="sr-only"> Link</span>
          <% end %>
        </div>
      </div>
      <div>
        <%= turbo_frame_tag dom_id(board, :timer), src: board_timer_path(board) %>
      </div>
    </div>
  </div>
<% end %>
