<%= turbo_frame_tag dom_id(timer.board, :timer) do %>
  <div class="relative inline-block text-left" data-controller="dropdown">
    <div>
      <%= button_tag type: 'button', class: 'inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-orange-500', data: {action: 'dropdown#toggle click@window->dropdown#hide'} do %>
        <% if timer.persisted? %>
          <time class="font-mono" datetime="<%= timer.ends_at.iso8601 %>" data-controller="timer" data-timer-refresh-interval-value="1000" data-timer-datetime-value="<%= timer.ends_at.iso8601 %>"><%= time_remaining %></time>
        <% else %>
          Start Timer
        <% end %>
        <%= inline_svg_tag 'timer/chevron_down.svg', class: '-mr-1 ml-2 h-5 w-5' %>
      <% end %>
    </div>

    <div role="menu"
      class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-50 focus:outline-none"
      data-dropdown-target="menu"
      data-transition-enter-from="opacity-0 scale-95"
      data-transition-enter-to="opacity-100 scale-100"
      data-transition-leave-from="opacity-100 scale-100"
      data-transition-leave-to="opacity-0 scale-95"
      aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
      <div class="py-1" role="none">
        <%= button_to 'Stop Timer', board_timer_path(timer.board), method: :delete, class: 'text-gray-700 block px-4 py-2 text-sm', role: 'menuitem', data: {action: 'dropdown#toggle'} if timer.persisted? %>
        <%= button_to '5 minutes', board_timer_path(timer.board), class: 'text-gray-700 block px-4 py-2 text-sm', role: 'menuitem', params: {timer: {duration: 5.minutes}}, data: {action: 'dropdown#toggle'} %>
      </div>
    </div>
  </div>
<% end %>
