<%= form_with(model: board) do |form| %>
  <% if board.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
        <% board.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <h4>Columns</h4>
  <div>
    <%= form.fields_for :columns do |column_form| %>
      <%= render "columns/form", form: column_form %>
    <% end %>
  </div>

  <%= form.submit "Add column",
      formaction: column_path(@board.columns.size),
      formmethod: :post,
      formnovalidate: true,
      id: "add-column" %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
