<%= form_with(model: board) do |form| %>
  <% if board.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
        <% board.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t('board_name'), style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <h3><%= t('board_columns') %></h3>
  <div id='columns'>
    <%= form.fields_for :columns do |column| %>
      <%= render 'column_fields', form: column %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association "AddColumn", form, :columns %>
    </div>
  </div>

  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
