<%= turbo_stream_from @board %>

<header>
  <div class="sm:max-w-7xl sm:mx-auto sm:px-6 lg:px-8">
    <%= render(BoardHeader::Component.new(board: @board)) %>
  </div>
</header>

<div class="flex-1 flex flex-col" data-controller="tabs" data-tabs-active-tab="border-orange-500 text-orange-600 hover:border-orange-600" data-tabs-index="0">
  <div class="sm:max-w-7xl sm:w-full sm:mx-auto sm:px-6 lg:px-8">
    <%= render(BoardTabs::Component.new(board: @board)) %>
  </div>

  <div class="sm:flex-1 sm:flex sm:max-w-7xl sm:w-full sm:mx-auto sm:px-6 lg:px-8">
    <div class="flex-1 flex sm:border-l sm:border-r sm:border-gray-200 sm:shadow-sm">
      <%= turbo_frame_tag dom_id(@board, :columns), class: 'flex-1 sm:flex sm:divide-x sm:divide-gray-200' do %>
        <%= render(BoardColumn::Component.with_collection(@board.columns.ranked)) %>
      <% end %>
    </div>
  </div>
</div>
