<!DOCTYPE html>
<html class="h-full" lang="<%= I18n.locale %>">
  <head>
    <title>Retrospectives</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <link rel=stylesheet href='//use.typekit.net/zhh0qyl.css'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= action_cable_meta_tag %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <div class="flex flex-col md:min-h-screen">
      <%= render(Hero::Component.new) %>
      <main class="flex-1">
        <%= yield %>
      </main>
      <%= render(Footer::Component.new) %>
    </div>
    <div aria-live="assertive" class="fixed z-20 inset-0 flex items-end px-4 py-6 pointer-events-none sm:p-6 sm:items-start">
      <div class="w-full flex flex-col items-center space-y-4 sm:items-end">
        <%= render(Flash::Component.new(flash: flash)) %>
      </div>
    </div>
  </body>
</html>
